*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 229, 212);
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    background-color: rgb(109, 244, 224);
    color: rgb(233, 158, 158);
}

.box{
    max-width: 600px;
}

h1{
    font-size: 5em;
}

p{
    font-size: 1.2 em;
        margin: 50px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

button {
    background-color: azure;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button:hover {
    background-color: #45a049;
}

iframe{
    border-radius: 2em;
    transition: 0.3s ease-in-out;
    opacity: 0.7;
}
iframe:hover{
    transform: scale(1.1) ;
    opacity: 1;
}
